body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  max-width: 100%;
  overflow-x: hidden;
}

p {
  color: hsl(229, 8%, 60%);
  line-height: 1.7;
  font-size: 0.95rem;
  text-align: center;
  inline-size: 90%;
  margin: 0 auto 30px;
}

@media (min-width: 600px) {
  p {
    inline-size: 500px;
  }
}